*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot';
}
body{
    /* background: #091921; */
    /* background: #311048; */
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    /* background: linear-gradient(135deg,#1c40cf,#8a2d7b,#1bb6d8,#751111); */
}
.hadding{
    color: #020202;
    font-size: 25px;
    margin-left: 40%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    /* border: 2px solid red;
    padding: 10px;
    border-radius: 25px; */
}
.main .calculatorForm{
    width: 400px;
    height: 550px;
    position: relative;
    border-color: 5px solid rgba(199, 48, 48, 0.1);
    font-size: 25px;
    font-weight: 500;
} 
.main .calculatorForm div {
    width: 100%;
    height: calc(550px/6);
    display: flex;
    flex: 1;
}
.main .calculatorForm div input{
    width: 100%;
    height: 100%;
    font-size:25px;
    font-weight: 500;
    border: 2px solid rgba(224, 19, 19, 0.1);
}
.Numbers{
    color: #fff;
    background: linear-gradient(135deg,#1c40cf,#8a2d7b,#1bb6d8,#751111,#075e5b);
    cursor: pointer;
}
.clearbutton{
    background: linear-gradient(135deg,#1c40cf,#8a2d7b,#1bb6d8,#751111,#075e5b);
    color: #fff;
    cursor: pointer;
}
.Numbers1{
    background: linear-gradient(135deg,#1c40cf,#8a2d7b,#1bb6d8,#751111,#075e5b);
}
.screen input{
    background: linear-gradient(135deg,#075e5b,#1c40cf);

}